/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: #fea034;
  --vp-c-brand-2: #c78f17;
  --vp-c-brand-3: hsl(41, 71%, 48%);
  --vp-c-brand-3-alpha: rgba(209, 154, 35, 0.233);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-bg);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #fea034 30%,
    #dabc36
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.heading .text {
  font-size: 24px;
  margin-top: -0.5em;
}

.vp-code-group label {
  display: flex !important;
  flex-direction: row;
  gap: 8px;
}

label[data-title="npm"]::before {
  content: "";
  background: url(https://upload.wikimedia.org/wikipedia/commons/d/db/Npm-logo.svg);
  background-size: contain;
  width: 20px;
  display: inline-block;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
}

label[data-title="pnpm"]::before {
  content: "";
  background: url(https://upload.wikimedia.org/wikipedia/commons/c/c1/Pnpm_logo.svg);
  background-size: contain;
  width: 16px;
  display: inline-block;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
}

label[data-title="yarn"]::before {
  content: "";
  background: url(https://upload.wikimedia.org/wikipedia/commons/1/11/Yarn-logo-kitten.svg);
  background-size: contain;
  width: 24px;
  display: inline-block;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
}

.hdoc-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 600px) {
  .hdoc-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.hdoc-grid a {
  aspect-ratio: 1/1;
  border: 1px solid var(--vp-c-divider);
  border-radius: 6px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background 0.12s ease-in;
  color: var(--vp-c-brand-1);
}
.hdoc-grid a:hover {
  background: var(--vp-c-divider);
}
.hdoc-grid a img {
  aspect-ratio: 1/1;
  height: 64px;
  border-radius: 4px;
}

#local-search {
  width: min(100%, 400px);
}
#local-search .button {
  width: 100%;
}
#local-search .DocSearch-Button-Keys {
  margin-left: auto;
}

.tip .custom-block-title::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  opacity: 0.75;
  color: #7581b3;
  content: "\f05a"; /* Код иконки (пример: user) */
}

.warning .custom-block-title::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  opacity: 0.75;
  color: #e0b209;
  content: "\f071"; /* Код иконки (пример: user) */
}

.danger .custom-block-title::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  opacity: 0.75;
  color: #d49191;
  content: "\f06a"; /* Код иконки (пример: user) */
}

.info.custom-block {
  background: #4b874b2e;
}

.info .custom-block-title::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  opacity: 0.75;
  color: #299729;
  content: "\f00c"; /* Код иконки (пример: user) */
}

.tagline {
  padding: 0 !important;
  margin-top: -1em !important;
  font-size: 16px !important;
}